* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://wallpaperset.com/w/full/8/0/9/105098.jpg");
}

.searchbar{
    margin-top: 5%;
}
input {
    width: 450px;
    height: 45px;
    background-color: rgb(246, 244, 244);
    border: none;

}

input::placeholder {
    color: black !important;
    padding-left: 10px;
}

#demo1 {
    margin: 20px;
    width: 200px;
    color: white;
    font-size: large;
    background-color: rgb(244, 108, 101);
    border: 2px solid rgb(222, 137, 137);
    border-radius: 5px;
}

button {
    display: inline-block;
    border: none;
    width: 500px;
    height: 50px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.remove button {
    text-align: center;
    padding: 10px 5px;
    outline: 1px solid black;
    height: 50px;
    width: 150px;
    display: inline-block;
border-radius: 5px;
}

.add button {
    text-align: center;
    padding: 10px 5px;
    outline: 1px solid black;
    height: 50px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;

}

.todo-item-footer {
    display: block;
    bottom: 25px;
    font-size: x-large;
}
#submitMsg {
    display: inline-block;
    border: none;
    position: relative;
    border: 3px solid #df80ff;
    margin: 0px 0px 15px 70px;
    width: 50%;
    border-radius: 25px;
    background-color: #600080;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#submitMsg:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
